#portfolioContainer p {
    font-family: 'Basic', sans-serif;
    color: #ffffff;
    text-shadow: -1px -1px .25px #000000, 1px -1px .25px #000000, -1px 1px .25px #000000, 1px 1px .25px #000000;
    font-size: 1rem;
}

#portfolioContainer h1, #portfolioContainer h2 {
    font-family: 'Concert One', cursive;
    color: #ffffff;
    text-shadow: -1px -1px .25px #000000, 1px -1px .25px #000000, -1px 1px .25px #000000, 1px 1px .25px #000000;
}

#portfolioContainer {
    width: 100vw;
    height: 90vh;
    background: rgba(80, 235, 236, 0.25);
    border-top: solid rgba(255, 255, 255, .75) 2px;
    border-bottom: solid rgba(255, 255, 255, .75) 2px;
    border-left: solid rgba(255, 255, 255, .75) 1px;
    border-right: solid rgba(255, 255, 255, .75) 1px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 1;
}

#portfolioContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: solid rgba(255, 255, 255, .05) 2px;
    border-bottom: solid rgba(255, 255, 255, .05) 2px;
    width: 90%;
    height: 85vh;
    padding-top: 5vh;
    overflow: auto;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.imageContainer {
    width: 450px;
    height: 350px;
    border-radius: 15px;
    box-shadow: -1px -1px 5px #ffffff, 1px -1px 5px #ffffff, -1px 1px 5px #ffffff, 1px 1px 5px #ffffff;
}

.image {
    width: 450px;
    height: 350px;
    border-radius: 15px;
}

.project p {
    margin-top: 5px;
    font-size: 1.25rem !important;
}

.NavBar {
    width: 90%;
    margin: 0 5% 0 5%;
    height: 10%;
    border-top: solid 2px #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}